/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Actual stuff */
* {
	font-family: "Google Sans", sans-serif;

	z-index: 1; /* So I can do BG stuff */
}

.title {
	font-size: 5rem;
	font-weight: bolder;
	text-align: center;

	text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.75);
}