/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Actual stuff */
body {
	background-color: #292E32;
	margin: auto;

	background-repeat: repeat;
}
* {
	font-family: "Google Sans", sans-serif;

	z-index: 1; /* So I can do BG stuff */
	color: #FFFFFF;
}

.title {
	font-size: 5rem;
	font-weight: bolder;
	text-align: center;

	text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.75);
}

.subtitle {
	font-size: 3rem;
	font-weight: bolder;
	text-align: center;

	text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.75);
}

.menu {
	min-height: 10%;
	width: 50%;
	padding: 1%;
	margin: auto;
	border-radius: 1rem;
}

#notFound {
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
}

#loadingTxt {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

#content {
	background-color: rgba(51, 51, 70, 0.25);

	height: 100vh;
	width: 60%;
	padding: 1%;

	margin: auto;

	box-sizing: border-box;

	overflow-y: auto;
}