.game {
	display: flex;
	align-items: flex-end;
	justify-content: center;

	/* margin: auto; */
	padding: 1%;

	border-radius: 1rem;

	width: 10vw;

	background-color: rgba(51, 51, 70, 0.5);
	color: white;

	background-size: cover;
	background-position: center;

	aspect-ratio: 1 / 1;

	text-decoration: none;
	font-size: large;
	font-weight: bold;

	transition: 
		color 0.5s,
		font-weight 0.25s,
		transform 0.5s;
}

.game:hover {
	font-weight: 800;
	transform: scale(1.1);
}

#gameList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
	justify-items: center;
	gap: 1vw;
}