/* Game Name & category */
#banner {
	padding: 1%;
	position: relative;
	overflow: hidden;
}
#bannerImage {
	position: absolute;
	inset: 0;
	
	background-size: cover;
	background-position: center;
	
	filter: blur(2px);
	-webkit-filter: blur(2px);

	z-index: -1;
	border-radius: 1rem;
}

.lbTitle {
	text-align: center;
	text-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
}

#game {
	font-size: xx-large;
	font-weight: bolder;
}
#category {
	font-size: x-large;
	font-weight: bold;
}

/* Actual Leaderboard */
.rank {
    width: 3ch;
    text-align: right;
    padding-right: 0.5ch;
}

.runner {
    padding-left: 0;
}

#leaderboard {
	min-height: 50%;
	display: none;
}

.lbList {
	width: 100%;
	font-size: large;
	table-layout: auto;
}

/* Leaderboard List Positions */
.lbList th:nth-child(1), /* Place */
.lbList td:nth-child(1) {
	font-weight: bolder;
    text-align: center;
}
.lbList th:nth-child(2), /* Runner */
.lbList td:nth-child(2) {
	text-align: left;
}
.lbList th:nth-child(3), /* IGN */
.lbList td:nth-child(3) {
    width: 8ch;
    text-align: center;
}
.lbList th:nth-child(4), /* Time */
.lbList td:nth-child(4) {
    width: 8ch;
    text-align: center;
}
.lbList th:nth-child(5), /* Date */
.lbList td:nth-child(5) {
    width: 9ch;
    text-align: center;
}
.lbList th:nth-child(6), /* Verified */
.lbList td:nth-child(6) {
    width: 3ch;
    text-align: center;
}