/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Actual stuff */
body {
	background-color: #292E32;
	margin: auto;

	background-repeat: repeat;
	background-image: url(../Images/Backgrounds/generic_bg.png);
}

* {
	font-family: "Google Sans", sans-serif;

	z-index: 1; /* So I can do BG stuff */
	color: #FFFFFF;
}

a {
	transition: color 0.5s;
	transition: font-weight 0.25s;
}

a:hover {
	color: #dbdbfa;
	font-weight: bolder;
}

.title {
	font-size: 5rem;
	font-weight: bolder;
	text-align: center;

	text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.75);
}

.subtitle {
	font-size: 3rem;
	font-weight: bolder;
	text-align: center;

	text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.75);
}

.subtitle2 {
	font-size: 2rem;
	font-weight: bolder;
	text-align: center;

	text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.75);
}

.menu {
	min-height: 10%;
	width: 75%;
	padding: 1%;
	margin: 2rem auto;
	border-radius: 1rem;
	background-color: rgba(51, 51, 70, 0.5)
}

#error {
	display: none;
}

#loadingTxt {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition: opacity 1s;
}

#content {
	background-color: rgba(51, 51, 70, 0.25);

	height: calc(100vh - 8rem);
	width: 60%;
	padding: 1%;

	margin: auto;
	margin-top: 4rem;

	box-sizing: border-box;

	overflow-y: auto;

	filter: blur(15px);
}

@keyframes fadeOut {
	from { filter: blur(15px); }
	to   { filter: blur(0); }
}

.fadeOutBlur {
	animation: fadeOut 1s forwards;
}

header, footer {
	position: absolute;
	width: 100%;

	height: 4rem;
	background-color: rgba(51, 51, 70, 0.25);

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: large;
}

header {
	top: 0;
	z-index: 3;
	border-bottom: 5px solid rgba(0, 0, 0, 0.25);
}

footer {
	bottom: 0;
	z-index: 3;
	border-top: 5px solid rgba(0, 0, 0, 0.25);
}

#copyright {
	width: auto;
	text-align: center;
	font-style: italic;
}

.headerBtn {
	margin-right: 1rem;
	font-size: x-large;
}